<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udacity.nanodegree.android.com.grandmothersrecipesapp">

    <!-- Adicionado permissão de acessso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NoActionBar - Impede que o aplicativo use a actionBar nativa padrãoo (AppTheme) -->
        <!-- singleTop -   Matem o estado da activity quando essa é invocada no botão up(voltar) -->

        <activity
            android:name=".view.RecipeDetailActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity_" />
        </activity>

        <activity
            android:name=".view.StepDetailActivity_"
            android:theme="@style/AppTheme.NoActionBar" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RecipeDetailActivity_" />
        </activity>

        <activity
            android:name=".view.IngredientDetailActivity_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RecipeDetailActivity_" />
        </activity>

        <receiver android:name=".provider.GrandmothesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grandmothes_widget_provider_info" />
        </receiver>
    </application>

</manifest>